.catalog{
    display: block;
}

.catalog-body{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.filter-tab{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: solid rgba(63, 63, 63, 0.281) 1px;
    border-radius: 5px;
}
.catalog-products{
    display:flex;
    flex-direction: column;
    width: 70%;
}
