.checkout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.checkout .product-box{
    margin: 15px;
}

.checkout .order-info{
    border: black 2px solid;
    width: 300px; 
    margin-left: 100px;
    

}
.checkout img{
    max-height: 300px;
}
.vehical-description{
    display: flex;
    flex-direction: column;
    text-align: left;
    border: black solid 1px;
    padding: 10px;
}
.checkout .info{
    display: flex;
    flex-direction: row;
}
.checkout .sections{
    display: flex;
    margin: 20px;
}
.checkout .section{
    margin-left: 20px;
}


.checkout .price-box .outer-layer{
    background-color: rgb(0, 81, 255);
    color: aliceblue;
    padding: 5px;
}
.checkout .price-box .price-breakdown{
    display: flex;
    flex-direction: column;
    height: 250px;
    text-align: left;
    margin-left: 10px;
    
}
