.header {
    padding: 15px;
    background-color: #1879CA;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 600;
    font-size: x-large;
    color: white;
}
